text {
  text-anchor: end;
  padding: 10px;
  a:nth-child(n + 4) & {
    text-anchor: start;
  }
}

.bar:hover {
  cursor: pointer;
}

rect:hover {
    fill-opacity: .8;
}

.owner:hover {
  text-decoration: underline;
}