rect:hover {
  fill-opacity: .8; }

text {
  text-anchor: end;
  padding: 10px; }
  a:nth-child(n + 4) text {
    text-anchor: start; }

.bar:hover {
  cursor: pointer; }

.owner:hover {
  text-decoration: underline; }
