rect {
  stroke-width: 1; }
  rect:hover {
    stroke: #444; }

text {
  text-anchor: end;
  padding: 10px; }
  a:nth-child(n+4) text {
    text-anchor: start; }
  text .strong {
    font-weight: bold; }
